node_modules/
.pnp
.pnp.js

.env
.env.local
.env.*.local

dist/
build/
.next/
out/

.svelte-kit/

*.pyc
__pycache__/
*.pyo
venv/
.venv/

*.log
.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
